@model FWshop.Models.DepartmentVM
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Delete Department</h1>
<form  asp-controller="Department" asp-action="Delete"
  method="post" class = "form-group">

    <label asp-for="DepartmentName"> Department Name </label>
    <input type="text" asp-for="DepartmentName" disabled class= "form-control"/>
    <br>
    <label asp-for="DepartmentCode"> Department Code </label>
    <input type="text" asp-for="DepartmentCode" disabled class= "form-control"/>
    <br>
    <center>
     <input type="submit" value="Delete" class="btn btn-danger"/>
    </center> 
</form>

